@charset "UTF-8";
.timeline-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  color: #1a1a1a;
  box-sizing: border-box;
}
.timeline-box * {
  box-sizing: border-box;
}

.timeline-box .timeline {
  width: 100%;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline-box .timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 33%;
  bottom: 0px;
  width: 4px;
  background: #f4f4f2;
}
.timeline-box .timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-box .entry {
  clear: both;
  text-align: left;
  position: relative;
}
.timeline-box .entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
.timeline-box .entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #ffda2f;
  background-color: #ffda2f;
  border-radius: 100%;
  top: 15%;
  right: 11px;
  z-index: 99;
}
.timeline-box .entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.timeline-box .entry .title p {
  margin: 0;
  font-size: 100%;
}
.timeline-box .entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}

.timeline-box .entry .body-end {
  float: right;
  width: 66%;
  padding-left: 30px;
}

.timeline-box .entry .body p {
  line-height: 1.4em;
}
.timeline-box .entry .body p:first-child {
  margin-top: 0;
  font-weight: bold;
}
.timeline-box .entry .body ul {
  color: #1a1a1a;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
}
.timeline-box .entry .body ul li:before {
  content: "•";
  margin-right: .5em;
  margin-bottom: .5em;
}

.timeline-box .entry .body ul ul {
  color: #1a1a1a;
  padding-left: 10px;
  font-size: 90%;
  list-style-type: none;
  font-weight: normal;
}
.timeline-box .entry .body ul ul li:before {
  content: "-";
  margin-right: .5em;
}

@media screen and (max-width: 600px) {
  .timeline-box .timeline {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 40px 20px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }

  .timeline-box .entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #ffda2f;
    background-color: #ffda2f;
    border-radius: 100%;
    top: 15%;
    right: 1px;
    z-index: 99;
  }
}
